In [146]:
from census import Census
from us import states
import pandas as pd
import numpy as np
import censusdata
import requests
import us
import matplotlib.pyplot as plt
from keys import api_census_key

c2016 = Census(api_census_key, year = 2016)

In [147]:
#Access census database for 2016
census_data2016 = c2016.acs5.get(('NAME', 'B01003_001E'),
         {'for': 'state:{}'.format(Census.ALL)})

In [148]:
#make dataframe
pop_2016 = pd.DataFrame(census_data2016)

#obtain population
pop_2016 = pop_2016.rename(columns={"B01003_001E": "2016 Population",
                                   "NAME": "City"})

pop_2016.head()

#change in population from 2014 to 2017
#a chart

   2016 Population        City state
0        4841164.0     Alabama    01
1         736855.0      Alaska    02
2        6728577.0     Arizona    04
3        2968472.0    Arkansas    05
4       38654206.0  California    06

In [149]:
#request 2017 census data
url_2017 = "https://api.census.gov/data/2017/pep/population?get=POP,GEONAME&for=state:*&DATE=9"
request_2017 = requests.get(url_2017).json()

#create dataframe
request_2017_df = pd.DataFrame(request_2017,columns=request_2017[0])

#obtain desired data
pop_2017 = request_2017_df[['POP','GEONAME']]
pop_2017 = pop_2017.rename(columns = {"POP":" 2017 Population",
                                     "GEONAME":"State"})
pop_2017

    2017 Population                 State
0               POP               GEONAME
1           4860545               Alabama
2            741522                Alaska
3           6908642               Arizona
4           2988231              Arkansas
5          39296476            California
6           5530105              Colorado
7           3587685           Connecticut
8            952698              Delaware
9            684336  District of Columbia
10         20656589               Florida
11         10313620               Georgia
12          1428683                Hawaii
13          1680026                 Idaho
14         12835726              Illinois
15          6634007               Indiana
16          3130869                  Iowa
17          2907731                Kansas
18          4436113              Kentucky
19          4686157             Louisiana
20          1330232                 Maine
21          6024752              Maryland
22          6823721         Massachusetts
23          9933445              Michigan
24          5525050             Minnesota
25          2985415           Mississippi
26          6091176              Missouri
27          1038656               Montana
28          1907603              Nebraska
29          2939254                Nevada
30          1335015         New Hampshire
31          8978416            New Jersey
32          2085432            New Mexico
33         19836286              New York
34         10156689        North Carolina
35           755548          North Dakota
36         11622554                  Ohio
37          3921207              Oklahoma
38          4085989                Oregon
39         12787085          Pennsylvania
40          1057566          Rhode Island
41          4959822        South Carolina
42           861542          South Dakota
43          6649404             Tennessee
44         27904862                 Texas
45          3044321                  Utah
46           623354               Vermont
47          8414380              Virginia
48          7280934            Washington
49          1828637         West Virginia
50          5772917             Wisconsin
51           584910               Wyoming
52          3406520           Puerto Rico

In [150]:
dfholder = []
years = [2016,2015,2014,2013]
for year in years:
    census_data = Census(api_census_key, year = year)
    census_data_years = census_data.acs5.get(('NAME', 'B01003_001E'),
                                             {'for': 'state:{}'.format(Census.ALL)})
    pop_census = pd.DataFrame(census_data_years)
    
    pop_census = pop_census.rename(columns = {"B01003_001E": f"{year} Population",
                                             "NAME":"State",
                                             "state":"State Number"})
    dfholder.append(pop_census)

In [151]:
merge_census = pop_2017.merge(dfholder[0]).merge(dfholder[1]).merge(dfholder[2]).merge(dfholder[3]).set_index(['State','State Number'])

merge_census

,,2017 Population,2016 Population,2015 Population,2014 Population,2013 Population
State,State Number,,,,,
Alabama,01,4860545,4841164.0,4830620.0,4817678.0,4799277.0
Alaska,02,741522,736855.0,733375.0,728300.0,720316.0
Arizona,04,6908642,6728577.0,6641928.0,6561516.0,6479703.0
Arkansas,05,2988231,2968472.0,2958208.0,2947036.0,2933369.0
California,06,39296476,38654206.0,38421464.0,38066920.0,37659181.0
Colorado,08,5530105,5359295.0,5278906.0,5197580.0,5119329.0
Connecticut,09,3587685,3588570.0,3593222.0,3592053.0,3583561.0
Delaware,10,952698,934695.0,926454.0,917060.0,908446.0
District of Columbia,11,684336,659009.0,647484.0,633736.0,619371.0
Florida,12,20656589,19934451.0,19645772.0,19361792.0,19091156.0
Georgia,13,10313620,10099320.0,10006693.0,9907756.0,9810417.0
Hawaii,15,1428683,1413673.0,1406299.0,1392704.0,1376298.0
Idaho,16,1680026,1635483.0,1616547.0,1599464.0,1583364.0
Illinois,17,12835726,12851684.0,12873761.0,12868747.0,12848554.0
Indiana,18,6634007,6589578.0,6568645.0,6542411.0,6514861.0
Iowa,19,3130869,3106589.0,3093526.0,3078116.0,3062553.0
Kansas,20,2907731,2898292.0,2892987.0,2882946.0,2868107.0
Kentucky,21,4436113,4411989.0,4397353.0,4383272.0,4361333.0
Louisiana,22,4686157,4645670.0,4625253.0,4601049.0,4567968.0
Maine,23,1330232,1329923.0,1329100.0,1328535.0,1328320.0
Maryland,24,6024752,5959902.0,5930538.0,5887776.0,5834299.0
Massachusetts,25,6823721,6742143.0,6705586.0,6657291.0,6605058.0
Michigan,26,9933445,9909600.0,9900571.0,9889024.0,9886095.0
Minnesota,27,5525050,5450868.0,5419171.0,5383661.0,5347740.0
Mississippi,28,2985415,2989192.0,2988081.0,2984345.0,2976872.0
Missouri,29,6091176,6059651.0,6045448.0,6028076.0,6007182.0
Montana,30,1038656,1023391.0,1014699.0,1006370.0,998554.0
Nebraska,31,1907603,1881259.0,1869365.0,1855617.0,1841625.0
Nevada,32,2939254,2839172.0,2798636.0,2761584.0,2730066.0
New Hampshire,33,1335015,1327503.0,1324201.0,1321069.0,1319171.0
New Jersey,34,8978416,8915456.0,8904413.0,8874374.0,8832406.0
New Mexico,35,2085432,2082669.0,2084117.0,2080085.0,2069706.0
New York,36,19836286,19697457.0,19673174.0,19594330.0,19487053.0
North Carolina,37,10156689,9940828.0,9845333.0,9750405.0,9651380.0
North Dakota,38,755548,736162.0,721640.0,704925.0,689781.0
Ohio,39,11622554,11586941.0,11575977.0,11560380.0,11549590.0
Oklahoma,40,3921207,3875589.0,3849733.0,3818851.0,3785742.0
Oregon,41,4085989,3982267.0,3939233.0,3900343.0,3868721.0
Pennsylvania,42,12787085,12783977.0,12779559.0,12758729.0,12731381.0
Rhode Island,44,1057566,1054491.0,1053661.0,1053252.0,1051695.0
South Carolina,45,4959822,4834605.0,4777576.0,4727273.0,4679602.0
South Dakota,46,861542,851058.0,843190.0,834708.0,825198.0
Tennessee,47,6649404,6548009.0,6499615.0,6451365.0,6402387.0
Texas,48,27904862,26956435.0,26538614.0,26092033.0,25639373.0
Utah,49,3044321,2948427.0,2903379.0,2858111.0,2813673.0
Vermont,50,623354,626249.0,626604.0,626358.0,625904.0
Virginia,51,8414380,8310301.0,8256630.0,8185131.0,8100653.0
Washington,53,7280934,7073146.0,6985464.0,6899123.0,6819579.0
West Virginia,54,1828637,1846092.0,1851420.0,1853881.0,1853619.0
Wisconsin,55,5772917,5754798.0,5742117.0,5724692.0,5706871.0
Wyoming,56,584910,583029.0,579679.0,575251.0,570134.0
Puerto Rico,72,3406520,3529385.0,3583073.0,3638965.0,3682966.0