In [2]:
from census import Census
from us import states
import pandas as pd
import numpy as np
import censusdata
import requests
import us
import matplotlib.pyplot as plt
from keys import api_census_key
import matplotlib.pyplot as plt

In [25]:
#request 2017 census data
url_2017 = "https://api.census.gov/data/2017/pep/population?get=POP,GEONAME&for=state:*&DATE=9"
request_2017 = requests.get(url_2017).json()

#create dataframe
request_2017_df = pd.DataFrame(request_2017,columns=request_2017[0])

#obtain desired data
pop_2017 = request_2017_df[['POP','GEONAME']]
pop_2017 = pop_2017.rename(columns = {"POP":"2017 Population",
                                     "GEONAME":"State"})
pop_2017

   2017 Population                 State
0              POP               GEONAME
1          4860545               Alabama
2           741522                Alaska
3          6908642               Arizona
4          2988231              Arkansas
5         39296476            California
6          5530105              Colorado
7          3587685           Connecticut
8           952698              Delaware
9           684336  District of Columbia
10        20656589               Florida
11        10313620               Georgia
12         1428683                Hawaii
13         1680026                 Idaho
14        12835726              Illinois
15         6634007               Indiana
16         3130869                  Iowa
17         2907731                Kansas
18         4436113              Kentucky
19         4686157             Louisiana
20         1330232                 Maine
21         6024752              Maryland
22         6823721         Massachusetts
23         9933445              Michigan
24         5525050             Minnesota
25         2985415           Mississippi
26         6091176              Missouri
27         1038656               Montana
28         1907603              Nebraska
29         2939254                Nevada
30         1335015         New Hampshire
31         8978416            New Jersey
32         2085432            New Mexico
33        19836286              New York
34        10156689        North Carolina
35          755548          North Dakota
36        11622554                  Ohio
37         3921207              Oklahoma
38         4085989                Oregon
39        12787085          Pennsylvania
40         1057566          Rhode Island
41         4959822        South Carolina
42          861542          South Dakota
43         6649404             Tennessee
44        27904862                 Texas
45         3044321                  Utah
46          623354               Vermont
47         8414380              Virginia
48         7280934            Washington
49         1828637         West Virginia
50         5772917             Wisconsin
51          584910               Wyoming
52         3406520           Puerto Rico

In [49]:
dfholder = []
years = [2013,2014,2015,2016]
for year in years:
    census_data = Census(api_census_key, year = year)
    census_data_years = census_data.acs5.get(('NAME', 'B01003_001E'),
                                             {'for': 'state:{}'.format(Census.ALL)})
    pop_census = pd.DataFrame(census_data_years)
    
    pop_census = pop_census.rename(columns = {"B01003_001E": f"{year} Population",
                                             "NAME":"State",
                                             "state":"State Number"})
    dfholder.append(pop_census)

In [81]:
merge_census = pop_2017.merge(dfholder[0]).merge(dfholder[1]).merge(dfholder[2]).merge(dfholder[3]).set_index(['State'])
census_df = merge_census[['State Number','2013 Population','2014 Population','2015 Population','2016 Population','2017 Population']].astype(float)
#census_df = merge_census.astype(float)
census_df.head()

,State Number,2013 Population,2014 Population,2015 Population,2016 Population,2017 Population
State,,,,,,
Alabama,1.0,4799277.0,4817678.0,4830620.0,4841164.0,4860545.0
Alaska,2.0,720316.0,728300.0,733375.0,736855.0,741522.0
Arizona,4.0,6479703.0,6561516.0,6641928.0,6728577.0,6908642.0
Arkansas,5.0,2933369.0,2947036.0,2958208.0,2968472.0,2988231.0
California,6.0,37659181.0,38066920.0,38421464.0,38654206.0,39296476.0

In [123]:
pop_scaled = census_df[["2013 Population","2014 Population", "2016 Population","2017 Population"]]/100000
pop_change =pd.DataFrame((census_df['2017 Population']-census_df['2014 Population'])/census_df['2014 Population'])*100
pop_change

                             0
State
Alabama               0.889785
Alaska                1.815461
Arizona               5.290332
Arkansas              1.397845
California            3.229986
Colorado              6.397689
Connecticut          -0.121602
Delaware              3.886114
District of Columbia  7.984397
Florida               6.687382
Georgia               4.096427
Hawaii                2.583392
Idaho                 5.036812
Illinois             -0.256598
Indiana               1.400034
Iowa                  1.713808
Kansas                0.859711
Kentucky              1.205515
Louisiana             1.849752
Maine                 0.127735
Maryland              2.326447
Massachusetts         2.499966
Michigan              0.449195
Minnesota             2.626261
Mississippi           0.035854
Missouri              1.046768
Montana               3.208164
Nebraska              2.801548
Nevada                6.433626
New Hampshire         1.055660
New Jersey            1.172387
New Mexico            0.257057
New York              1.234827
North Carolina        4.166842
North Dakota          7.181331
Ohio                  0.537820
Oklahoma              2.680283
Oregon                4.759735
Pennsylvania          0.222248
Rhode Island          0.409589
South Carolina        4.919305
South Dakota          3.214777
Tennessee             3.069722
Texas                 6.947826
Utah                  6.515142
Vermont              -0.479598
Virginia              2.800798
Washington            5.534196
West Virginia        -1.361684
Wisconsin             0.842403
Wyoming               1.679093
Puerto Rico          -6.387668

In [116]:
#plt.plot((census_df[["2013 Population","2014 Population", "2016 Population","2017 Population"]]))
#plt.yticks(np.arange(0, 420 ,40))

C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\tornado\platform\asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\asyncio\base_events.py", line 422, in run_forever
    self._run_once()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\asyncio\base_events.py", line 1432, in _run_once
    handle._run()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\asyncio\events.py", line 145, in _run
    self._callback(*self._args)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\tornado\platform\asyncio.py", line 117, in _handle_events
    handler_func(fileobj, events)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py", line 2666, in run_cell
    self.events.trigger('post_run_cell', result)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\events.py", line 88, in trigger
    func(*args, **kwargs)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\pylab\backend_inline.py", line 160, in configure_once
    activate_matplotlib(backend)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\matplotlib\pyplot.py", line 231, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\matplotlib\__init__.py", line 1410, in use
    reload(sys.modules['matplotlib.backends'])
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\importlib\__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "C:\Users\valli\Anaconda3\envs\PythonData\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()