In [35]:
from census import Census
from us import states
import pandas as pd
import numpy as np
import censusdata
import requests
import us
from keys import api_census_key

c = Census(api_census_key)

In [57]:

census_data = c.acs5.get(('NAME', 'B01003_001E'),
         {'for': 'state:{}'.format(Census.ALL)})

In [102]:
census_df = pd.DataFrame(census_data)

census_df = census_df.rename(columns={"B01003_001E": "Population"})

census_df

    Population                  NAME state
0    4841164.0               Alabama    01
1     736855.0                Alaska    02
2    6728577.0               Arizona    04
3    2968472.0              Arkansas    05
4   38654206.0            California    06
5    5359295.0              Colorado    08
6    3588570.0           Connecticut    09
7     934695.0              Delaware    10
8     659009.0  District of Columbia    11
9   19934451.0               Florida    12
10  10099320.0               Georgia    13
11   1413673.0                Hawaii    15
12   1635483.0                 Idaho    16
13  12851684.0              Illinois    17
14   6589578.0               Indiana    18
15   3106589.0                  Iowa    19
16   2898292.0                Kansas    20
17   4411989.0              Kentucky    21
18   4645670.0             Louisiana    22
19   1329923.0                 Maine    23
20   5959902.0              Maryland    24
21   6742143.0         Massachusetts    25
22   9909600.0              Michigan    26
23   5450868.0             Minnesota    27
24   2989192.0           Mississippi    28
25   6059651.0              Missouri    29
26   1023391.0               Montana    30
27   1881259.0              Nebraska    31
28   2839172.0                Nevada    32
29   1327503.0         New Hampshire    33
30   8915456.0            New Jersey    34
31   2082669.0            New Mexico    35
32  19697457.0              New York    36
33   9940828.0        North Carolina    37
34    736162.0          North Dakota    38
35  11586941.0                  Ohio    39
36   3875589.0              Oklahoma    40
37   3982267.0                Oregon    41
38  12783977.0          Pennsylvania    42
39   1054491.0          Rhode Island    44
40   4834605.0        South Carolina    45
41    851058.0          South Dakota    46
42   6548009.0             Tennessee    47
43  26956435.0                 Texas    48
44   2948427.0                  Utah    49
45    626249.0               Vermont    50
46   8310301.0              Virginia    51
47   7073146.0            Washington    53
48   1846092.0         West Virginia    54
49   5754798.0             Wisconsin    55
50    583029.0               Wyoming    56
51   3529385.0           Puerto Rico    72